@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 1 69 70; /* #014546 */
    --color-primary-hover: 1 86 88; /* #015658 */
    --color-secondary: 0 140 91; /* #008C5B */
    --color-secondary-hover: 0 107 70; /* #006B46 */
    --color-orange: 255 139 91; /* #FF8B5B */
  }

  body {
    font-family: 'Poppins', sans-serif;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-out forwards;
}

.animate-slide-in {
  animation: slideIn 0.8s ease-out forwards;
}

.animate-slideInLeft {
  animation: slideInLeft 0.3s ease-in-out forwards;
}

.delay-200 {
  animation-delay: 200ms;
}

.delay-400 {
  animation-delay: 400ms;
}
